<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="Sanity testing" enabled="false">
    <groups>
      <run>
        <include name="sanity"></include>
      </run>
    </groups>
    <classes>
      <class name="org.example.tests.HomePageTests"/>
      <class name = "org.example.tests.LoginPageTests"/>
    </classes>
  </test>
  <test name="Regression testing" enabled="true">
    <groups>
      <run>
        <include name="sanity"></include>
        <include name="regression"></include>
      </run>
    </groups>
    <classes>
      <class name="org.example.tests.HomePageTests"/>
      <class name = "org.example.tests.LoginPageTests"/>
    </classes>
  </test>
</suite>